html, body {
    height: 100%;
    /*font-family: 'Montserrat', sans-serif !important;*/
    font-family: 'Roboto', sans-serif !important;

}

.navbar {
    padding: 25px !important;
    transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
}
.toggledClick{
    background-color: rgba(4, 9, 30, 0.85);
}
.scrolled {
    padding: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border: 0 !important;
    font-size: 12px !important;
    transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;


    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15) !important;
    /*background-color: #2e5e34 !important;*/

    background-color: #EEEEEE;


    opacity: 0.82 !important;


}

.pes-nav .nav-item {
    margin-right: 20px !important;
}

.pes-nav .nav-link {
    color: white !important;
}

.scrolled .nav-link {
    color: #241e20 !important;
}

.aboutText {
    font-size: 14px;
}

.pes-nav .nav-link:hover a {

    font-weight: bold !important;
    font-size: 15px;

}


/* Carousel caption styling */


.carousel-caption-home {
    position: absolute;
    z-index: 1 !important;
    display: table;
    width: 100%;
    height: 100%;
    text-align: left !important;

}

.absolute-div {
    position: absolute;
    top: 30%;
    left: 0;
    right: 10%;
    bottom: 0;
}

.carousel-caption-home h1 {
    display: table-cell;
    vertical-align: middle;
    color: white !important;

    margin: 10px 0;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.carousel-caption-home h3 {

    vertical-align: middle;
    color: white !important;

    margin: 10px 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.carousel-item-home {
    position: relative;
}

.carousel-item-home img {
    object-fit: cover !important;
}


/*
        team
*/


.team-header h3 {
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    animation-delay: .6s;
    color: rgba(255, 255, 255, .8);
    font-family: 'Rubik', sans-serif;
}

.team-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    background-image: url("../pictures/Team.webp");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10%;
    /*clip-path: polygon(49% 0, 100% 19%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 25%);*/
}

.team-img {
    position: relative;
    overflow: hidden;


}

.team-link1 {
    color: #fffbfd;
    position: absolute;
    bottom: 22%;
    left: 31%;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 3;
}

.team-link2 {
    position: absolute;
    bottom: 22%;
    left: 43%;
    color: #fffbfd;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 3;
}

.team-link3 {
    position: absolute;
    bottom: 22%;
    left: 54%;
    color: #fffbfd;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 3;
}

.team h5 {
    font-size: 15px !important;
    color: #7cac3f !important;
}

.team-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2576FD;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e911f), to(#ffffff));
    background: linear-gradient(to bottom, #dcdcdc, #5c5c5c);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.team-img:hover .team-img:after {
    opacity: .8;
}

.team-img:hover .social {
    bottom: 30%;
}

.team-member:hover .team-link1, .team-member:hover .team-link2, .team-member:hover .team-link3 {
    bottom: 45% !important;

}

/*

Latest Activities

 */

.act-header h3 {
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    animation-delay: .6s;
    color: rgba(255, 255, 255, .8);
    font-family: 'Rubik', sans-serif;
}

.act-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    background-image: url("../pictures/activities/banner-activities.webp");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10%;
    /*clip-path: polygon(49% 0, 100% 19%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 25%);*/
}

.team-member:hover .team-img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.btn-primary {
    background-color: #538d22 !important;
    border-color: #7cac3fc9 !important;
}

/*
footer stylee
 */
footer {
    /*background: rgb(32,37,31);*/
    /*background: linear-gradient(0deg, rgba(32,37,31,1) 1%, rgba(59,109,50,1) 13%, rgba(255,255,255,1) 61%);*/
    background-color: #538d22;
    /*clip-path: polygon(49% 0, 100% 19%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 25%);*/
    /*margin-top: 50px;*/
}

.footer-top {
    /*padding-top: 60px;*/
}

footer i {
    font-size: 20px;
    padding: 6px;
    color: #1b1e21;
}

.footer-right p {


    font-size: 11px;
}

@media (min-width: 750px) {

    .logo-footer {
        margin-top: 20px;
    }

    .footer-right {
        padding-top: 60px;
        padding-bottom: 15px;
    }

    .footer-left {
        padding-top: 15px;
        padding-left: 50px;
        padding-bottom: 15px;
        padding-right: 50px !important;
    }

    .footer-top {

        padding-bottom: 20px;
    }
}


footer p {
    color: #f2e8cf;
    font-size: 14px;
}

@media (max-width: 750px) {
    /*
    carousel caption
     */
    .carousel-caption-home h1 {
        font-size: 20px;
    }

    .carousel-caption-home h3 {
        font-size: 15px;
    }

    /* card responsive changes*/
    .card-wrapper {
        margin-bottom: 5px;
        padding: 5px;

    }

    /* footer responsive changes*/
    .footer-top {
        /*justify-content: center;*/
        /*text-align: center;*/
        display: inline-block !important;
    }

    footer {
        /*clip-path: polygon(50% 0, 99% 10%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 12%);*/
    }

    .footer-top {
        padding-top: 50px;
        padding-bottom: 15px;
        padding-left: 15px;
    }


    /* carousel caption */
    .absolute-div {
        width: 90%;
        position: absolute;
        top: 40%;
        left: 20px;
        right: 60%;
        bottom: 0px;
    }

    .banner {
        /*clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 93%, 55% 100%, 0 92%) !important;*/
    }

    .carousel-resp {
        /*clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 93%, 55% 100%, 0 92%) !important;*/
    }
}


.banner {
    /*background-image: url("https://webunwto.s3.eu-west-1.amazonaws.com/styles/article_main_image/s3/2019-09/hotel-energy.jpg");*/
    background-image: url("../pictures/about-banner2.webp");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /*clip-path: polygon(0 0, 100% 0, 100% 88%, 57% 100%, 0 86%);*/

}

.header-text h1 {

    font-size: 100px;
    font-family: railway sans-serif;
    margin: 10px 0;
    /*background:linear-gradient(94deg, rgba(83,141,34,1) 0%, rgba(94,142,86,0.0984768907563025) 88%, rgba(214,214,214,1) 99%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    color: #f2e8cf;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.about-box {
    /*margin-top: 10px;*/
    /*border: 4px black;*/
    /*box-shadow:  0 2px 12px rgba(0,0,0,.08);*/
}

/*
    Facts
 */
.facts {
    background: url("https://www.enelx.com/content/dam/enel-x-na/for-business/products/solar-plus-storage.jpg.resize.1440.700.center.center.jpeg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 60px 0;
    position: relative;
}

.facts::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
}

.facts .container {
    position: relative;
    z-index: 10;
}

.section-title {
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    animation-delay: .6s;
    color: rgba(255, 255, 255, .8);
    font-family: 'Rubik', sans-serif;
}

.facts {
    margin-top: 30px;
}

.facts-content {
    margin-top: 45px;
}

.facts h3 {
    color: #212529;
    position: relative;
    /*font-weight: 700;*/
}

.facts-number {
    color: #a7c957;
    margin-top: 5px;
}

.facts-name {
    color: #212529;
}

.about-box {
    margin-top: 30px;
}

.facts-logo {
    object-fit: fill;
}

.plan-box {
    margin-top: 15px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
}

.box-inner {
    padding: 20px;
    text-align: center;
}

.box-inner h4 {
    color: #133b5c;
    text-align: center;

}

.about-section {
    /*margin-top: 20px;*/
    background: url("https://assets.weforum.org/report/image/BTFcwc6o2ETUOAoa0j84XOrtOF6g79UsTXJpzazgM0U.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 60px 0;
    position: relative;

}

.box-icon {

    text-align: center;
}

.about-section::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
}

.about-section .container {
    position: relative;
    z-index: 10;
}

@media (max-width: 750px) {
    .facts img {
        margin-top: 20px;
    }
}

@keyframes fadeInImg{
    from
    {opacity: 0}
    to
    {opacity: 1}
}
.img-loading{
    opacity: 0;
    width: 100%;
    height: auto;}
.img-loaded{
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
}


.overlay{
    background: rgb(4 9 30 / 55%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
